h1 {
  background-color: #04838f;
  color: white;
  margin: auto;
  width: 20%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  font-weight: normal;
  font-size: 2rem;
  @media screen and (max-width: 768px) {
    width: 75%;
  }
}

.informations {
  padding-top: 3rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

app-box-information {
  width: 15%;
  @media screen and (max-width: 768px) {
    width: 40%;
  }
}

::ng-deep ngx-charts-pie-chart {
  display: flex;
  justify-content: center;
  height: 100px;
}
::ng-deep .pie-label {
  font-size: 1.5rem !important;
  @media screen and (max-width: 768px) {
    font-size: 1rem !important;
  }
}
