h1 {
  background-color: #04838f;
  color: white;
  margin: auto;
  width: 20%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  font-weight: normal;
  font-size: 2rem;
  @media screen and (max-width: 768px) {
    width: 75%;
  }
}

.informations {
  padding-top: 3rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  margin-bottom: 3rem;
}

app-box-information {
  width: 15%;
  @media screen and (max-width: 768px) {
    width: 40%;
  }
}

button {
  background-color: #04838f;
  color: white;
  width: 10%;
  padding: 0.25rem;
  border-radius: 10px;
  font-size: 2rem;
  margin: auto;
  display: block;
  border: none;
  @media screen and (max-width: 768px) {
    width: 40%;
  }
}

::ng-deep .chart-container {
  display: block;
  height: 500px;
}
